---
import Layout from "../layouts/Layout.astro";
import BrowserWindow from "../components/browserWindow.astro";
import StackCard from "../components/stackCard.astro";
import { Icon } from "astro-icon/components";

const stacks = [
    {
        title: "Front-End",
        underlineColor: "#0055FF",
        languages: [
            {
                icon: "html5",
                name: "HTML5",
            },
            {
                icon: "css3",
                name: "CSS3",
            },
            {
                icon: "javascript",
                name: "JAVASCRIPT",
            },
            {
                icon: "typescript",
                name: "TYPESCRIPT",
            },
            {
                icon: "vuejs",
                name: "VUE",
            },
            {
                icon: "angularjs",
                name: "ANGULAR",
            },
            {
                icon: "tailwind",
                name: "TAILWIND",
            },
        ],
    },
    {
        title: "Back-End",
        underlineColor: "#DD00B8",
        languages: [
            {
                icon: "java",
                name: "JAVA",
            },
            {
                icon: "csharp",
                name: "C#",
            },
            {
                icon: "springboot",
                name: "SPRING BOOT",
            },
            {
                icon: "dotnetcore",
                name: ".NET CORE",
            },
            {
                icon: "mongodb",
                name: "MONGODB",
            },
            {
                icon: "mysql",
                name: "MYSQL",
            },
            {
                icon: "postgresql",
                name: "POSTGRESQL",
            },
        ],
    },
    {
        title: "Other tools",
        underlineColor: "#E40303",
        languages: [
            {
                icon: "git",
                name: "GIT",
            },
            {
                icon: "docker",
                name: "DOCKER",
            },
            {
                icon: "figma",
                name: "FIGMA",
            },
            {
                icon: "github-logo",
                name: "GITHUB",
            },
            {
                icon: "python",
                name: "PYTHON",
            },
            {
                icon: "flutter",
                name: "FLUTTER",
            },
            {
                icon: "cplusplus",
                name: "C++",
            },
            
        ],
    },
];
---

<Layout>
    <BrowserWindow>
        <div class="container">
            <div class="details-content">
                <div>
                    <span class="caption"> DETAILS </span>

                    <div class="details-card">
                        <span class="title">Email</span>
                        <a class="social" href="mailto:samirajetzabel@gmail.com" aria-label="Email to samirajetzabel@gmail.com">
                            <Icon name="mail" class="icon" />
                            <span>samirajetzabel@gmail.com</span>
                        </a>
                        <span class="title">Linkedin</span>
                        <a
                            class="social"
                            href="https://www.linkedin.com/in/samira-jaa/"
                            target="_blank"
                            rel="noopener noreferrer"
                            
                            aria-label="Samira's LinkedIn profile"
                        >
                            <Icon name="linkedin-logo" class="icon" />
                            
                            <span>samira-JAA</span>
                        </a>
                        <span class="title">GitHub</span>
                        <a
                            class="social"
                            href="https://github.com/Samira-AA"
                            target="_blank"
                            rel="noopener noreferrer"
                            aria-label="Samira's GitHub profile"
                        >
                            <Icon name="github-logo" class="icon" />
                            <span>samira-AA</span>
                        </a>
                    </div>
                </div>

                <div class="about">
                    <div class="text">
                        <p>I’m Samira, a <span class="bold-text">third-year</span> Software Engineering student at the <span class="bold-text">Universidad Peruana de Ciencias Aplicadas.</span></p>
                        <p>My primary focus is  <span class="bold-text">web development</span>, where I combine <span class="underline-text">creativity</span> and technology to build <span class="underline-text">innovative</span> solutions that solve real-world problems. </p>
                        <p>I’m an <span class="bold-text">active member of tech-driven communities</span> and always eager to <span class="underline-text">learn</span>, <span class="underline-text">collaborate</span>, and bring <span class="underline-text">fresh </span> ideas to new projects.</p>
                    </div>
                    <div class="button">
                        <a
                            href="/documents/Samira-Alvarez-CV-en.pdf"
                            download
                            aria-label="Download Samira's CV"
                        >
                            <button class="download-button">Download CV</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="stack-content">
                <span class="caption"> STACK </span>

                <div class="stack-cards">
                    {stacks.map((stack) =>
                     <StackCard stack={stack} />
                     )}
                </div>
            </div>
        </div>
    </BrowserWindow>
</Layout>

<style>

    .underline-text{
        text-decoration: underline 1px #fd6900;
    }
    .bold-text{
        font-weight: bold;
    }

    .icon {
        display: none;
    }

    .text {
        font-weight: 300;
        font-size: 18px;

        p{
            margin-bottom: 10px;
        }
    }

    .about {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        padding: 40px 40px 20px 40px;
    }

    .details-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }

    .details-card,
    .about {
        flex: 1;
    }

    .download-button {
        color: #fff;
        padding: 15px 25px;
        border-radius: 15px;
        font-size: 18px;
        cursor: pointer;
        background-color: #191919;
        border: 0;
        margin-top: 20px;
    }

    .button {
        display: flex;
        justify-content: flex-end;
    }

    .caption {
        display: block;
        margin-top: 25px;
        margin-bottom: 10px;
        font-weight: 800;
        font-size: 18px;
    }
    .container {
        height: 100%;
        width: 100%;
    }

    .details-card {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;
        border-radius: 20px;
        background-color: #191919;
        color: #fff;
    }

    .title {
        font-size: 18px;
        margin-bottom: 8px;
    }

    .social {
        margin-bottom: 20px;
        font-weight: bold;
        text-decoration: underline;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
    }

    /* xl: 1280px and below */
    @media (max-width: 1279px) {
        .about {
            padding: 0px;
        }

        .details-content {
            flex-direction: column;
        }

        .details-card {
            width: 250px;
        }
    }

    /* lg: 1024px and below */
    @media (max-width: 1024px) {
        .title {
            font-size: 15px;
        }

        .social {
            font-size: 15px;
        }

        .text {
            font-size: 17px;
        }
    }

    /* 511px and below */
    @media (max-width: 510px) {
        .about{
            margin:0px;
        }
        .details-card span {
            display: none;
        }

        .details-card {
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            padding: 15px;
        }

        [data-icon] {
            height: 45px;
            width: 45px;
        }

        .icon {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .social {
            margin: 0;
        }
    }
</style>
