---
import Layout from '../layouts/Layout.astro';

---

<Layout>
    <div class="content">

        <p>Hola! I’m  a <span class="stack">FullStack</span> developer based in Lima. <a href="/about/"><span class="more-info">Read more</span></a> </p>
            
      
        <div class="buttons">
            <a href="/contact/"> <button class="contact-button">Contact Me</button> </a>
           
            <a href="/cv/"> <button class="download-button">Download CV</button> </a>
           
        </div>
        
    </div>
	
</Layout>

<style >
   
   
    .more-info{
        font-size: 20px;
        font-weight: 300;
        text-decoration:underline 0.5px #FD6900;
        text-underline-offset:2px;
        cursor:pointer;
        white-space:nowrap;
        
    }

    .content{
        padding: 20px;
        display:flex;
        align-items: flex-start;
        flex-direction: column;
       
    }

    .content p{
        font-size: 70px;
        font-weight: bold;
    }
    
    .stack{
        color:#10EA33;
    }

    .buttons{
        margin-top: 60px;
    }

    button{
        color:#fff;
        padding:18px 40px;
        border-radius:15px;
        font-size:20px;
        cursor:pointer;
    }

    .contact-button{
        background-color: #0269F4;
        border: 0;
        margin-right:50px;
    }

    .download-button{
        background-color: #E900FF;
        border: 0;
    }
    

    /* 2xl: 1536px and below */
   @media (max-width: 1522px) {
        .more-info{
           display: flex;
           margin-top: 20px;
            
        }
    }

    /* xl: 1280px and below */
    @media (max-width: 1279px) {
        .content p{
            font-size: 45px;
            font-weight: bold;
        }

        .content{
            padding: 15px;
        }
    }

    /* lg: 1024px and below */
    @media (max-width: 1023px) {
        
    }

    /* 950px and below */
    @media (max-width: 949px) {
        .content p{
            font-size: 40px;
            font-weight: bold;
        }

        .content{
            padding: 15px;
        }

        button{
            flex-wrap: wrap;
            color:#fff;
            padding:18px 40px;
            border-radius:15px;
            font-size:15px;
            cursor:pointer;
        }
    }

    /* 860px and below */
    @media (max-width: 859px) {

        .buttons{
            display: flex;
            flex-wrap: wrap;
        }

        button{
            display: flex;
            justify-content: center;
            color:#fff;
            width: 150px;
            white-space:nowrap;
            border-radius:15px;
            font-size:15px;
            cursor:pointer;
            margin-bottom: 20px;
        }
    }

    /* md: 768px and below */
    @media (max-width: 767px) {
    
    }

    /* sm: 640px and below */
    @media (max-width: 639px) {
        .content p{
            font-size: 30px;
            
        }
    
       
        button{
            padding: 15px 32px;
            font-size: 18px;
        }
    }
</style>