---

---

<nav class="menu" aria-label="Main Navigation">
    <ul>
        <li><a href="/" aria-label="Go to Home page">HOME</a></li>
        <li><a href="/about/" aria-label="Go to About page">ABOUT</a></li>
        <li><a href="/projects/" aria-label="Go to Projects page">PROJECTS</a></li>
        <li><a href="/contact/" aria-label="Go to Contact page">CONTACT</a></li>
    </ul>
</nav>

<style>
    .menu {
        display: flex;
        align-items: flex-end;
        margin-bottom: 10px;
    }

    ul {
        list-style: none;
        font-weight: bold;
        font-size: 23px;
        padding: 0px;
        margin: 0px;
        cursor: pointer;
    }

    li {
        margin-bottom: 20px;
    }

    /* 2xl: 1536px and below */
    @media (max-width: 1535px) {
        ul {
            font-size: 30px;
        }
    }

    /* xl: 1280px and below */
    @media (max-width: 1279px) {
        ul {
            font-size: 20px;
        }
    }

    /* 950px and below */
    @media (max-width: 949px) {
    }

    /* lg: 1024px and below */
    @media (max-width: 1023px) {
    }

    /* md: 768px and below */
    @media (max-width: 767px) {
    }

    /* sm: 640px and below */
    @media (max-width: 639px) {
        .menu {
            margin: 0;
        }
        li {
            margin: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 25%;
            height: 44px;
            font-size: 14px;
            white-space: nowrap;
            border-radius: 50px;
            position: relative;
            overflow: hidden;
        }

        li:hover {
            background-color: black;
        }

        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
            background-color: rgba(34, 34, 34, 0.75);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            border-radius: 50px;
            width: 100%;
            padding: 4px;
            font-size: 18px;
        }
    }

    /* 511px and below */
    @media (max-width: 510px) {
        li {
            font-size: 12px;
        }
    }

    /* 339px and below */
    @media (max-width: 349px) {
        li {
            font-size: 10px;
            height: 35px;
        }
    }
</style>
