<div class="presentation">
    <h1 class="name">Samira Alvarez</h1>
    <h2 class="status">Student and Developer</h2>
</div>
  
<style>
    .presentation{
        margin-right: 80px;
        
    }
   h1, h2 {
        font-weight:lighter;
        margin:0;
   }
   .name{
        font-size: 40px;
        font-weight: 400;
   }
   .status{
        font-size: 20px;
        margin-top: 10px;
   }
</style>

