<div class="presentation">
    <h1 class="name">Samira Alvarez</h1>
    <h2 class="status">Student and Developer</h2>
</div>
  
<style>
    
    .presentation{
        margin-right: 80px;
        white-space:nowrap;
    }
   h1, h2 {
        font-weight:lighter;
        margin:0;
   }
   .name{
        font-size: 40px;
        font-weight: 400;
   }
   .status{
        font-size: 20px;
        margin-top: 10px;
   }

   /* 2xl: 1536px and below */
   @media (max-width: 1535px) {
        .name{
            font-size: 50px;
        }

        .status{
            font-size: 30px;
        }
    }

    /* xl: 1280px and below */
    @media (max-width: 1279px) {
        .presentation{
            margin-right: 50px;
            white-space:nowrap
        }

        .name{
            font-size: 40px;
        }

        .status{
            font-size: 20px;
        }
    }

    /* 950px and below */
    @media (max-width: 949px) {
        .presentation{
            margin-right: 50px;
            white-space:nowrap
        }

        .name{
            font-size: 35px;
        }

        .status{
            font-size: 15px;
        }
    }

    /* lg: 1024px and below */
    @media (max-width: 1023px) {
        .presentation{
            margin-right:10px;
        }
    }

    /* md: 768px and below */
    @media (max-width: 767px) {
        .presentation{
            margin-right:5px;
        }
    }

    /* sm: 640px and below */
    @media (max-width: 639px) {
        .presentation{
            padding:0 15px;
            margin: 0;
        }
    }
</style>

