---
import { Icon } from "astro-icon/components";
---
<div class="card-container">
    <div class="text">
        <p class="title">ArtCollab</p>
        <p class="description">An Artist-led platform fostering creativity and connection. </p>

        <div class="buttons">
            <button> 
                <Icon name="about-icon"></Icon> ABOUT
            </button>
            <button> 
                <Icon name="launch-icon"></Icon> LAUNCH
            </button>
        </div>
    </div>

    <div class="images">
        <img class="landing-page-image" src="/src/images/artCollabLandingPage.PNG">
        <img class="web-app-image" src="/src/images/artCollabWebApp.PNG"> 
    </div>
   
</div>

<style>

.description{
    width: 55%;
    margin-bottom: 10px;
}

.web-app-image{
    position: absolute;
    margin: 0;
    top:20px;
    right:100px;
    margin-top: 10px;
}

.landing-page-image{
    position: absolute;
    bottom: 0;
    margin: 0;
    right: -10px; 
}

img{
    height: 230px;
    filter: drop-shadow(-10px 0px 4px rgba(0, 0, 0, 0.25));
}

.card-container{
    background-color: #0740B3;
    color: #fff;
    height: 18rem;
    display: flex;
    align-items: center;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.title{
    font-weight: bold;
    font-size: 55px;
}

button{
    background-color: #173572;
    border:0;
    color: #fff;
    font-weight: bold;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    border-radius: 5px;
}

.buttons{
    display:flex;
    flex-direction:row;
    gap: 25px;
}

[data-icon] {
    height: 25px;
    width: 25px;
}

.text{
    display: flex;
    flex-direction: column;
    padding:30px;
    margin:30px 20px;
    gap:20px;
}
</style>