---

---
<div class="title">
    <h2 class="project-title">ArtCollab</h2>
    <hr>
</div>

<div class="text-container">
    <div class="information">
        <div class="rol-container">
            <span> MY ROL</span>
            <div class="rol">
                <p>Front-end developer</p>
                <p>Back-end developer</p>
            </div>
            
        </div>
    
        <div class="tools-container">
            <span> TOOLS</span>
        </div>
        
    </div>
    <div class="description">
        <span> DESCRIPTION</span>
        <div class="description-text">
            Un proyecto hecho por artistas, para artistas. Colabora y crea nuevos  proyectos y transforma tu hobby en un trabajo o revisa nuestro amplio  catálogo de libros y de artistas.
        </div>
        <div class="buttons">
            <button>
                WEB APP
            </button>
            <button>
                LANDING PAGE
            </button>
        </div>
    </div>
</div>


<style>

   
    .rol-container{
        margin-bottom: 15px;
        white-space: nowrap;
    }

    span{
        color: #222222;
        font-weight: bold;
        font-size: 20px;
        padding-bottom: 5px;
        display: inline-block;
    }
    .text-container{
        display: flex;
        flex-direction: row;
        border:1px solid rgb(0, 255, 4);
    }

    .information{
        border:1px solid red;
        width: 25%;
    }
    .description{
        border:1px solid red;
        width: 100%;
    }
    .project-title{
        color:#222222;
        font-size: 50px;
        padding:10px 0 10px 0px;
    }

   hr{
        height: 1px;
        color: #222222;
        background: #222222;
        font-size: 0;
        border: 0;
        width: 95%;
   }
</style>