---
import { Icon } from "astro-icon/components";

interface Language {
    icon: string;
    name: string;
}

interface Props {
    stack: {
        title: string;
        underlineColor: string;
        languages: Language[];
    };
}

const { stack } = Astro.props;
---

<div class="container">
    <span class="title" style={`--underline-color: ${stack.underlineColor}`}
        >{stack.title}</span
    >
    <div class="language-container">
        {
            stack.languages.map((lang) => (
                <div class="language">
                    <div class="icon">
                        <Icon name={lang.icon} />
                    </div>
                    <div class="name">
                        <span>{lang.name}</span>
                    </div>
                </div>
            ))
        }
    </div>
</div>

<style>
    .container {
        font-weight: bold;
        padding: 20px;
    }

    .language-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 15px;
        gap: 13px;
        width: 100%;
        background-color: #141414;
        padding: 20px;
        border-radius: 8px;
    }

    .language {
        display: flex;
        flex-direction: row;
        align-items: center;
        white-space: nowrap;
        gap:5px;
        font-size: 13px;
        background-color: #141414;
        padding: 8px 10px;
        color: #fff;
        border-radius:5px;
        border: 1px solid #515050;
    }

    [data-icon] {
        height: 20px;
        width: 20px;
    }

    .title {
        font-size: 18px;
        position: relative;
        
        text-decoration: underline 2.5px var(--underline-color) ;
        text-underline-offset: 3px;
    }

    .title::after {
        background-color: ;
    }
</style>
