---
import { Icon } from "astro-icon/components";

interface Language {
    icon: string;
    name: string;
}

interface Props {
    stack: {
        title: string;
        underlineColor: string;
        languages: Language[];
    };
}

const { stack } = Astro.props;
---

<div class="container">
    <span class="title" style={`--underline-color: ${stack.underlineColor}`}
        >{stack.title}</span
    >
    <div class="language-container">
        {
            stack.languages.map((lang) => (
                <div class="language">
                    <div class="icon">
                        <Icon name={lang.icon} />
                    </div>
                    <div class="name">
                        <span>{lang.name}</span>
                    </div>
                </div>
            ))
        }
    </div>
</div>

<style>
    .container {
        border-radius: 15px;
        background-color: #191919;
        color: #fff;
        font-weight: bold;
        padding: 20px;
        margin-bottom: 20px;
    }

    .language-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 15px;
        gap: 20px;
        width: 100%;
    }

    .language {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 90px;
        white-space: nowrap;
        font-size: 15px;
    }

    [data-icon] {
        height: 55px;
        width: 55px;
    }

    .title {
        font-size: 18px;
        position: relative;
        z-index: 1;
        padding-left: 4px;
    }

    .title::after {
        background-color: var(--underline-color);
    }
</style>
