---
import NavBar from '../components/navbar.astro'
import Name from '../components/presentation.astro'

const currentUrl= new URL(Astro.request.url);

const currentPage = currentUrl.pathname

type AlignmentType = {
    [key: string]: string;
} 

const alignment: AlignmentType = {
    '/': 'center',
	'/contact/': 'center',
} as const;

const dynamicAlign= alignment[currentPage] || 'flex-end';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preload" href="/fonts/Inter-Thin.woff2" as="font" type="font/woff2" crossorigin>
    	<link rel="preload" href="/fonts/Inter-Regular.woff2" as="font" type="font/woff2" crossorigin>
    	<link rel="preload" href="/fonts/Inter-Bold.woff2" as="font" type="font/woff2" crossorigin>
		<title>Samira Alvarez</title>
	</head>
	<body>
		<div class="frame">
			<div class="name">
				<Name></Name>
			</div>
			
			<div class="content" style={`align-items: ${dynamicAlign} !important`}>
				<slot/>

			</div>
			
			<div class="menu">
				<NavBar></NavBar>
			</div>
			
		</div>
		
		
	</body>
</html>

<style is:global>



	@font-face {
		font-family: 'Inter';
		src: url('/fonts/Inter-ExtraBold.woff2') format('woff2');
		font-weight: 800;
		font-style: normal;
		font-display: swap; 
	}

	@font-face {
		font-family: 'Inter';
		src: url('/fonts/Inter-Bold.woff2') format('woff2');
		font-weight: 700;
		font-style: normal;
		font-display: swap; 
	}

	@font-face {
		font-family: 'Inter';
		src: url('/fonts/Inter-Regular.woff2') format('woff2');
		font-weight: 400;
		font-style: normal;
		font-display: swap; 
	}

	@font-face {
		font-family: 'Inter';
		src: url('/fonts/Inter-Light.woff2') format('woff2');
		font-weight: 300;
		font-style: normal;
		font-display: swap; 
	}

	@font-face {
		font-family: 'Inter';
		src: url('/fonts/Inter-Thin.woff2') format('woff2');
		font-weight: 200;
		font-style: normal;
		font-display: swap; 
	}

	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}

	html{
		background-image: linear-gradient(#181818 2px, transparent 2px), linear-gradient(to right, #181818 2px, transparent 2px);
		background-size: 43px 43px;
		background-color: #141414;
		overflow: hidden;
	}

	.frame{
		display: grid;
		height: 90vh;
		margin: 50px;
		border:1px solid #fff;
		color:#fff;
		font-family: "Inter", Arial, Helvetica, sans-serif;
		padding:40px 35px 0 35px;
 
		grid-template-columns: auto 1fr;
		grid-template-rows:auto 1fr auto;
		grid-template-areas:
		'name content'
		'. content'
		'menu content';
		
	}

	/* sm: 640px and below */
    @media (max-width: 639px) {
		
		html{
			overflow:scroll;
		}
		.frame{
			grid-template-areas:
			'name .'
			'content content'
			'menu menu';

			padding:30px 0px 0 0px;
			margin: 25px;
			position: relative;
		}

		.menu{
			position: fixed;
			bottom: 10px;
			left: 50%;
			transform: translateX(-50%); 
			width: 98%;
		}
		
	}

	.space{
		grid-area: space;
	}

	.menu{
		grid-area: menu;
	}

	.content{
		grid-area:content;
		display:flex;
        justify-content: center;
	}
	
	.name{
		grid-area: name;
		
	}

	a,
	a:link,
	a:visited,
	a:hover,
	a:active {
		color: inherit;
		text-decoration: inherit;
		font-weight: inherit;	
		}
</style>
